# tensorflow version matches Grid.ai grid run --framework tensorflow 2.2.0
tensorflow
# lightning version matches Grid.ai grid run --framework lightning 1.2.1
pytorch-lightning
# the rest don't matter
requests
pathlib
nibabel
scipy
